body{
    background-color: seagreen;

}
.top .bg-dark{
    background: #000 !important;
}
.logo{
    width: 100px;
    height: auto;
}
.content .bg {
    margin-right: auto;
    margin-left: auto;
    background: #b3d7ff;
    padding: 16px 5px;
}
.footer .content .copyright{
    margin-right: auto;
    margin-left: auto;
    background: #000;
    padding: 40px;
}
#footerg{
    background: black;
    height: 100%;
    color: white;
}